.modalBackdrop{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.77);
    /* border: 2px solid red; */
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 1;
}
.modalContent{
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 80%;
    max-width: 1080px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-height: 80vh;
    height: 75%;
    overflow-y: auto;
    border-radius: 5px;
    padding: 1rem;
    border: 2px solid #fff;
}