@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter,sans-serif;
}

button{
    font-family: inherit;
}